.swipeCard{
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: bottom;
    max-height: 100%;
    display: flex;
}
#swipeCardBackground{
    vertical-align: bottom;
    height: 70%;
    overflow-y:scroll;
}